<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Organization details </h3>
    Name: {{org_name}}<br>
    Unique id: {{id}}<br>
    Location: {{location}}<br>
    Admin email-id: {{email}}<br>
    <input type="button" value="Generate Organization's QR Code" onclick="window.location.href='/qr-code'">
    <input type="button" value="Add employees" onclick="window.location.href='/add-employees'"><br>
    <input type="button" value="Edit details" onclick="window.location.href='/admin-update'">
    <input type="button" value="Logout" onclick="window.location.href='/admin-logout'">
    <input type="button" value="Delete account" onclick="window.location.href='/admin-delete'">
</body>
</html>