<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'flash.html' %}
    <h2>Alerts</h2>
    <br>
    {% if msg%}
    {{msg}}
    {% else %}
    <ul>
        {% for k,v in data.items() %}
        <li>User: <a href="/view-user/{{k}}"><strong>{{users[k]}}</strong> </a> was attempting to enter the premises today at <strong>{{v}}</strong>.</li>
        {% endfor %}
    </ul>
    {% endif%}
</body>
</html>