<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{org_name}} <a href="/admin-profile">Organization's details</a> <a href="/add-employees">Add employees</a> <a href="/view-employees">View employees</a> 
Layout
<a href="">Create layout</a> <a href="">View layout</a> <a href="">Edit layout</a> <a href="">Delete layout</a> <a href="">Status</a>
<a href="/admin-logout">Logout</a>
</body>
</html>