<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% include 'navbar.html' %}
  {% include 'flash.html' %}

<h2>Employee details</h2>

--- add a search bar here ---
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email ID</th>
      </tr>
    </thead>

    <tbody>
        {% for k, v in data.items() %}
      <tr>
        <td>{{k}}</td>
        <td>{{v}}</td>
        <td><a href="/view-user/{{k}}">View</a></td>
        <td><a href="/remove-employee/{{k}}">Remove</a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
<br>
Total Employees: {{ l }}
<button><a href="/delete-employees">Delete all Employees</a></button>
</body>
</html>