.navbar {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.bottombar {
  display: none; 
  position: fixed;
  bottom: 0;
  width: 100%;  
  z-index: 1000;
}

@media (max-width: 600px) {
  .navbar {
    display: none; 
  }

  .bottombar {
    display: block; 
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.chatbot-icon {
  animation: zoom 2s infinite alternate;
}

@media (max-width: 768px) {
  .chatbot-window {
    bottom: 150px;
    max-height: 100vh;
    width: 70vw; 
  }
  #qrScanner{
    left: 20vw !important;
  }
}

/* for chatbot */
.react-chatbot-kit-user-avatar-container{
  background: url('https://www.w3schools.com/howto/img_avatar.png');
  background-size: contain;
}

.react-chatbot-kit-user-avatar-icon{
  fill: transparent!important;
}


/* for QR page */
.card-body{
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

#qrScanner {
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  top: 30vh;
  left: 41vw;
  /* transform: translate(-50%, -50%); */
}



/* #qrScanner {
  position: relative;
} */


.qrScanner {
  position: relative;
}

.qrScanner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  animation: scanner 3s linear infinite;
}

@keyframes scanner {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}


.scan-button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #b81c21;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.scan-button:hover {
  background-color: #da4045;
}

/* .scanner-animation {
  position: relative;
}

.scanner-animation:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  animation: scanner 3s linear infinite;
}

@keyframes scanner {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

 */



 /* for navigation page */

 .navigation-container {
  padding: 12px;
}

.search-bar {
  position: relative;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 12px 50px 12px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 2vw;
}

.search-input::placeholder {
  color: #aaa;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}


.card-content{
  border-radius: 10px !important;
}
@media (max-width: 1465px) {

}
  
@media only screen and (min-width: 768px)  {
  
  .square {
    flex: 1 0 40%;
    margin-right: 20px;
    margin-bottom: 20px; 
 
  }
  .search-bar{
    margin-top: 10vh;
    width: 50vw;
    margin-left: 25vw;
  }

  .squares-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 40px;
  }

  .boxi{
    display: flex;
    margin-top: 20px;
    width: 40vw;
    flex-direction: column;
  }

  .outerBoxi{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}


.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.name {
  font-weight: bold !important;
 font-size: medium !important;
 text-decoration: none;
}
.name:hover {
 
  color: blue;
  cursor: pointer;
}

.location {
  color: #666;
  text-decoration: none !important;
  font-size: small !important;
}


@media (max-width: 768px) {
  .square {
    max-width: 40vw;
    margin-bottom: 20px;
  }

  .squares-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;
    flex-wrap: wrap;
  }

  .link{
    width: 40vw;
    display: flex;
    flex-direction: row;
  }
}




.pcontent{
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}
.pimage{
  border-radius: 10px;
  margin-right: 20px;
}

.pdetail{
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.pname{
  font-size: larger;
  font-weight: bold;
}

.pinfo{
  height: 10vh;
  border: 1px solid #b81c21;
  margin: 10px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pline{
  height: 70%;
  background: #b81c21;
  width: 2px;
  border-radius: 50px;
}

.pinfo1{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


/*  Edit-Profile page */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  height: 100vh;
}

.title {
  text-align: center;
}


.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  background-color: #b81c21;
  border-radius: 50%;
  padding: 10px;
}

svg path {
  fill: white;
}


.form {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.label_form {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.input_text {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.button_submit {
  width: 100%;
  background-color: #b81c21;
  color: white;
  padding: 12px 0;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button_submit:hover {
  background-color: #da4045;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

svg {
  width: 24px;
  height: 24px;
  fill: #000;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}